
$mainfont: "Open Sans", "Helvetica", "Arial", sans-serif;
$maincolor: red;


[drawer] {
  background-color: #fff;
}

.contentbox {
	margin: 8px;
	padding: 20px;
	background-color: white;
}




.inputfield {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	background-color: white;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px 14px;
	border-radius: 0px;
	outline: 0;
	border-style:solid;
	-webkit-appearance: none;
	width: 80%;
	margin-bottom: 10px;
	max-width: 600px;

}


.inputfield:focus {
	border: 2px solid #007CC9;
}


.biginput {
	height: 200px;
	    resize: none;